
<div class="container">
    <div class="col-12 col-md-4">
        <di class="row-4">
            <form method="POST" action="/contacto/agregar">
                <h1>contacto</h1>
                    <div class="form-group">
                        <label for="exampleInputEmail1">nombre</label>
                        <input type="text" class="form-control" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre">
                    </div>

                    <input type="hidden" class="form-control" name="id_usuario" id="exampleInputEmail1" aria-describedby="emailHelp">
            
                    <div class="form-group">
                        <label for="exampleInputEmail1">email</label>
                        <input type="text" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">mensaje</label>
                        <input type="text" class="form-control" name="comentario" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mensaje">
                    </div>
                        
                        
                    <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </di>
    </div>
</div>

    
    
        
