<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
  <ul>
    <li><a href="/producto/producto">productos</a></li>
    <li><a href="/team/team">team</a></li>
    <li><a href="/contacto/contacto">contacto</a></li>
    <li><a href="/usuario/usuario">usuario</a></li>
    <li><a href="/corporativo/corporativo">corporativo</a></li>
    <li><a href="/proveedor/proveedor">proveedor</a></li>
    <li><a href="/noticia/noticia">noticia</a></li>
    <li><a href="/comunidad/comunidad">comunidad</a></li>
    <li><a href="/redes/redes">redes</a></li>
    <li><a href="/grafico/grafico">grafico</a></li>
  </ul>
</nav>
</body>
</html>